:root {
  --primary-color: #F88;
  --secondary-color: #CCF;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'GeneraleStationRegular';
}

#navbar {
  display: table-row;

  /* border: 1px solid var(--secondary-color); */
  /* border-radius: 4px; */

  position: fixed;
  top: 8px;
  right: 8px;

  /* padding: 5px; */
}

#navbar a {
  display: table-cell;

  color: var(--secondary-color);

  text-decoration: none;

  padding: 0 7px;
}

#navbar a + a { 
  border-left:1px solid var(--secondary-color); 
}

#navbar a:hover {
  color: var(--primary-color);
}

#earth-graphics {
  z-index: 100;
}

section {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

section div {
  z-index: 200;
}

.space-occupant {
  flex: 1 1 auto;
  height: auto;
}

.vertically-middle {
  flex: 0 0 auto;
}

h1 {
  color: var(--primary-color);
  font-size: 3em;
}

#author {
  color: #CCF;
  font-size: 2em;
}

#earth-graphics {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 20%;
}

/* @media (max-width: 700px){
} */

#projects {
  background: midnightblue;
}

.project-grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

  grid-gap: 15px;

  align-items: start;

  max-width: 500px;
  margin: 0 auto;
}

.project-tile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.screenshot {
  background-color: #ddd;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.project-grid img {
  width: 100%;
}

#links {
  display: inline-block;

  border: 1px solid green;
}

#links a {
  border: 1px solid red;
}

#links img {
  height: 25px;
}