:root {
  --primary-color: orange;
  --secondary-color: white;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'GeneraleStationRegular';
}

#navbar {
  display: table-row;

  /* border: 1px solid var(--secondary-color); */
  /* border-radius: 4px; */

  position: fixed;
  top: 8px;
  right: 8px;

  /* padding: 5px; */
}

#navbar a {
  display: table-cell;

  color: var(--secondary-color);

  text-decoration: none;

}

#navbar a + a { 
  border-left:1px solid var(--secondary-color); 
}

.large-screen {
  padding: 0 7px;
}

.small-screen {
  display: none;
}

.small-screen img {
  height: 24px;
  padding: 0 7px; 
}

@media (max-width: 310px){
  .large-screen {
    display: none;
  }

  .small-screen {
    display: inline;
  }

  #navbar {
    top: 5px;
  }

  #navbar a + a { 
    border-left: none; 
  }

  /* #-icon:hover {
    
  } */
}

#navbar a:hover {
  color: var(--primary-color);
}

#earth-graphics {
  z-index: 100;
}

section {
  display: flex;
  flex-direction: column;

  background-image: url(sky-softened-stars-extracted.png);

  height: 100vh;
}

.space-occupant {
  flex: 1 1 auto;
  height: auto;
}

.vertically-middle {
  flex: 0 0 auto;
}

h1 {
  color: var(--primary-color);
  font-size: 3em;
}

.secondary-color {
  color: var(--secondary-color);
}

#author {
  font-size: 2em;
}

#earth-graphics {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 20%;
}

#projects {
  background-color: #00002C;
}

.project-grid {
  display: inline-block;

  /* grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); */

  /* grid-gap: 15px; */

  /* align-items: start; */

  /* width: 100%; */
  /* max-width: 500px; */

  color: var(--secondary-color);
  
  margin: 0 10px;
}

.project-tile {
  display: inline-block;
  /* flex-direction: column; */
  width: 200px;

  /* border: 1px solid red; */

  margin: 10px 5px;
}

.screenshot {
  display: block;

  background-color: #ddd;
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin-bottom: 5px;
}

.project-grid img {
  width: 100%;
}

#contact-header {
  font-size: 1.2em;
}

#links {
  display: inline-block;

  /* line-height: 150px; */

  max-width: 800px;
  /* border: 1px solid red; */
}

#links a {
  /* border: 1px solid green; */

  display: inline-block;

  width: 192px;

  background: white;
  border-radius: 7px;
  margin: 10px 18px;
  padding: 8px;
}

#links img {
  /* border: 1px solid blue; */
  vertical-align: middle;
  height: 45px;
}

footer {
  font: 15px Arial, sans-serif;
}